<div class="container my-5">
  <div class="row my-3">
    <div class="col-6">
      <h2 class="text-primary">Administrator Details</h2>
    </div>
    <div class="col-6 text-end">
      <a href="#" class="btn btn-primary">
        <i class="bi bi-arrow-return-left"></i> Return To Administrator List</a
      >
    </div>
  </div>
  <div>
    <div class="mb-3">
      <img
        src="https://source.unsplash.com/featured/150x150"
        alt="Administrator Image"
      />
    </div>
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input
        disabled
        type="text"
        value=""
        name="firstName"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        disabled
        type="text"
        value=""
        name="lastName"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input disabled type="text" class="form-control" name="email" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input disabled type="text" class="form-control" name="password" />
    </div>
    <div class="mb-3">
      <label for="birthday" class="form-label">Birthday</label>
      <input disabled type="text" class="form-control" name="birthday" />
    </div>
    <div class="mb-3">
      <label for="hireDate" class="form-label">Hire Date</label>
      <input disabled type="text" class="form-control" name="hireDate" />
    </div>
  </div>
</div>
