<!-- heloo -->
<p-dialog
  header="Administrator Information"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ maxWidth: '600px', width: '100%', margin: '20px' }"
>
  <div class="table-responsive">
    <div class="table-responsive">
      <table class="table table-hover table-border align-middle">
        <tbody>
          <tr>
            <th>First Name</th>
            <td>{{ currentAdmin?.firstName }}</td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td>{{ currentAdmin?.lastName }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ currentAdmin?.email }}</td>
          </tr>
          <tr>
            <th>Salary</th>
            <td>{{ currentAdmin?.salary }}</td>
          </tr>
          <tr>
            <th>hireDate</th>
            <td>{{ currentAdmin?.hireDate | date }}</td>
          </tr>
          <tr>
            <th>Birthday</th>
            <td>{{ currentAdmin?.birthday | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</p-dialog>
