.add-button {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #121256;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
