<!-- <form [formGroup]="editFormGroup"> -->
<p-dialog
  header="Edit Administrator"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '75vw' }"
>
  <div>
    <div class="row">
      <div class="mb-3 col-6">
        <label class="form-label">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" />
      </div>
      <div class="mb-3 col-6">
        <label class="form-label">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" />
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>
    <div class="mb-3">
      <label for="salary" class="form-label">Salary</label>
      <input type="text" formControlName="salary" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Upload Image : </label>
      <input class="form-control" type="file" accept="image/*" />
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      (onClick)="editAdministrator()"
      icon="pi pi-check"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
<!-- </form> -->
